body{
background-color: black;
background-image: url("wooden-plates.jpg");	
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
min-height: 100vh;
position: relative;
margin-bottom: : 40;
font-family: 'Open Sans', sans-serif; 
}

.card {
	display: inline-block;
	border-color: rgba(209,165,139,0.5);
	background-color:rgba(260,260,260,0.5);
    font-size: 20px;
    justify-content: ;
    text-align: center;
    margin: 20px; 
    color:black;
    border-radius: 0;
}

.btn{
	background-color: rgba(209,200,139,0.7);
	border-color: rgba(209,165,139,0.7);
	color: black;
	box-shadow: none;
}
.btn:hover{
	background-color: rgba(195,200,139,0.9);
	border-color: rgba(209,200,139,0.5);
}
.btn:focus{
	background-color: grey;
	border-color: white;
	box-shadow: none;
}
.btn:active{
	background-color: grey;
	border-color: white;
	box-shadow: none;
}
a{
	color: black;
}
a:hover{
	color:grey;
}
.navbar{
	font-family: 'Julee', cursive;
	font-size: 25px;
	color: black;
}

footer {
color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Julee', cursive;
}
.card-body1{
	text-align: center;
}
.center{
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 60%;
 }
 .carousel-control-prev-icon{
 	color: white;
 	width: 40px;
 	height: 40px;
 
 }
 .carousel-control-next-icon{
 	width: 40px;
 	height: 40px;
 	color: white;
 }
 .carousel-inner{
 	background-color: rgba(0,0,0,0.3);
 }
 .carousel2{
 	margin-top:  5%;
margin-bottom: 5%;
 }